<a href="https://colab.research.google.com/github/antonypaulson/Text-Mining-and-Social-Media-Analytics/blob/master/Machine_Learning_with_text_data_(Text_Mining_Project).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
cloth_df = pd.read_csv('Womens Clothing E-Commerce Reviews.csv')

In [32]:
cloth_df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [33]:
cloth_df.columns

Index(['Unnamed: 0', 'Clothing ID', 'Age', 'Title', 'Review Text', 'Rating',
       'Recommended IND', 'Positive Feedback Count', 'Division Name',
       'Department Name', 'Class Name'],
      dtype='object')

In [34]:
distinct_items = len(set(cloth_df['Clothing ID']))
print ('The dataset contains', distinct_items, 'Clothing Items')

The dataset contains 1206 Clothing Items

In [35]:
popular_table = cloth_df.groupby('Clothing ID').size()
popular_table = popular_table.reset_index(name= 'Count').nlargest(100,'Count')
len(popular_table)

100

In [0]:
result = cloth_df
result = result.drop(columns = ['Unnamed: 0', 'Age', 'Title', 'Rating',
       'Recommended IND', 'Positive Feedback Count', 'Division Name',
       'Department Name', 'Class Name'])
result.reset_index( drop = True, inplace = True)
result.head()
result = result.sort_values('Clothing ID')
result = result.dropna()

In [0]:
result = result.groupby('Clothing ID')['Review Text'].apply(' '.join).reset_index()

In [181]:
result['Review Text'][0]

"Originally i bought this in black and white. recently purchased several more in different colorways . why? it's just perfect to wear as an under tank/cami. i'm a busty gal and sometimes cami straps can be too thin and dig into my shoulders. this is soft, smooth and provides just enough coverage. very flattering fit on its own as well. great under loose knit or low cut sweaters. love! I love this tank, it is so comfortable but it does have its flaws. it rolls up every time i walk or do anything, it becomes very bothersome. Love this tank. material and fit are great. love that it's reversible. highly recommend!"